.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.position-fixed {
	position: fixed;
}

.align-center {
	text-align: center;
}

/* background */
html {
	background-image: url("assets/images/diseasetent.jpg");
}

.logo {
	right: 0px;
	top: 0px;
	height: 150px;
	width: 150px;
}


/* fonts */
body, p {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.headings {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.headings2 {
	font-size: 1.25em;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.headings3 {
	font-size: 1.75em;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/* header */

.header {
	width: 60%;
	font-size: 4.5em;
	color: #800000;
	padding: 20px 0;
	margin: 10px auto;
	background-color: #f2f2f2;
	border: 3px solid #000000;
}

/* font */
body {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/* stat row */
.statRow {
	width: 100%;
}

.record, .userGuesses, .guessesLeft {
	width: 33%;
	text-align: center;
	background-color: #f2f2f2;
	border: 2px solid #000000;
	font-size: 1.75em;
	line-height: 150%;
	margin: 10px auto;
	height: 100px;
}

/* game row*/
.gameRow {
	font-size: 2.0em;
	text-align: center;
	padding: 20px 0;
	margin: 10px 0;
	line-height: 200%;
}

.gameBox, .diseaseInfo {
	background-color: #f2f2f2;
	border: 3px solid #000000;
	width: 42%;
	height: 500px;
	margin: auto 50px;
}

#gameWord {
	margin-top: 100px;
}

#diseaseImage {
	margin-top: 50px;
}